html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
a,
p,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans";
  text-decoration: none;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #ccf2f4;
}

li,
a {
  list-style: none;
  color: #000;
}
